@import"./_colors";
body{
    position: relative !important;
    height: 100% !important;
    margin:0;
    padding:0;
    background: $mainColor !important;
    color: $accentColor !important;
    font-family: 'Mukta', sans-serif !important;
    #welcomeContainer{
        padding-top: 30px !important;
        #welcomeHeader,#welcomeHeaderRegister{
            font-size: 62px;
        }
    }
    #formContainer{
        flex-direction: column !important;
        padding-top: 30px;
        #loginForm{
            padding: 20px;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border-radius: 10px;
            width: 25% !important;
            #floatingPasswordConfirm{
                margin-top: 15px !important;
            }
            input{
                color: $mainColor !important;
            }
            label{
                color: $mainColor !important;
            }
            button{
                margin: 10px auto;
                background: $mainColor;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                border: none;
            }
            button:hover{
                background: $accentColor;
                color: $mainColor;
            }
        }
        h5{
            padding-top: 15px;
        }
        a{
            position: relative;
            text-decoration: none;
            color:#2d3436;
        }
        a:after{
            position: absolute;
            bottom: 0;
            right: 0;
            margin: auto;
            content: '';
            width: 0%;
            height: 1px;
            transition: all .3s;
            background:#2d3436 ;
            color: transparent;
        }
        a:hover:after{
            width: 100%;
        }
    }
    footer{
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
            i{
                border-radius: 50%;
                padding: 10px;
                box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
                cursor: pointer;
                color: $accentColor;
            }
            i:hover{
                color: $mainColor;
                background: $accentColor;
            }
    }
}
@media only screen and (max-width: 920px){
    body{
        #welcomeContainer{
            #welcomeHeader,#welcomeHeaderRegister{
                font-size: 35px;
                text-align: center;
            }
        }
        #formContainer{
            #loginForm{
                width: 90% !important;
            }
        }
    }
}